/*
Theme Name: Popodoo (Flatsome Child)
Theme URI:  https://example.com/
Description: Enhanced Flatsome child theme with reusable components, optimized Gulp, preload fonts, lazy background, SEO schema, and Core Web Vitals optimizations.
Author: tuantaimta
Version: 1.0.0
Template: flatsome
Text Domain: popodoo
*/
/*testtai*/