//.program-tabs .button {
//  width: 100%;
//  padding: 12px 10px !important;
//  border-radius: 999px !important;
//  background: #fff !important;
//  border: 2px solid #ddd !important;
//  color: #333 !important;
//  cursor: pointer;
//  text-align: center;
//}
//
//.program-tabs .button.is-active {
//  background: #ff3366 !important;
//  color: #fff !important;
//  border-color: #ff3366 !important;
//}
//
///* fix Flatsome overlay cháº·n click */
//.programs-section * {
//  pointer-events: auto !important;
//}
