//main.scss
@import "base/variables" ;
@import "base/mixins" ;

@import "components/banner";
@import "components/button";
@import "components/slider";
// import SCSS components
@import "layouts/header";

@import "pages/home";
body {
  font-family: 'Open Sans', sans-serif;
}
